<strong><%= @question.title %></strong> - <%= User.where(id: @question.user_id).first.nickname %> <%= link_to "Edit", edit_question_path %>
<% if current_user.id == @question.user_id %>
   <%= link_to "DERETE", question_path, method: :delete %>
<% end %>
<p><%= @question.body %></p>
<ul>
  <% @answers.all.each do |answer| %>
    <li><%= answer.body %></li>
  <% end %>
</ul>

<%= link_to 'submit answer', new_question_answer_path(@question)%>


<%= link_to 'Back', :back %>
