<strong><%= @question.title %></strong> - <%= User.where(id: @question.user_id).first.nickname %>

<% if @question.user == current_user %>
  <%= link_to "Edit", edit_question_path %>
   <button><%= link_to "delete", question_path, method: :delete %></button>
<% end %>
<p><%= @question.body %></p>

<ul>
  <% @answers.all.each do |answer| %>
    <li><%= answer.body%> - <%= answer.user.nickname %></li>
  <% end %>
</ul>

<%= link_to 'submit answer', new_question_answer_path(@question)%>


<%= link_to 'Back', :back %>
