<!DOCTYPE html>
<html>
<head>
  <title>RescueMission</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="nav">
  <a href ="/">Questions</a>
  <a href ="/questions/new">Create new Question</a>
  <a href ="/"></a>
  <% if current_user %>
    <span>Signed in as <%= current_user.name %></span>
  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>
<%= flash[:notice]%>
<%= yield %>

</body>
</html>
